@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../font/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype'),
       url('../font/Gilroy-Bold/Gilroy-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../font/Gilroy-Bold/Gilroy-Bold.eot');
  src: url('../font/Gilroy-Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../font/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf') format('truetype'),
       url('../font/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../font/Gilroy-ExtraBold/Gilroy-ExtraBold.eot');
  src: url('../font/Gilroy-ExtraBold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../font/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../font/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
       url('../font/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../font/Montserrat-Regular/Montserrat.eot');
  src: url('../font/Montserrat-Regular/Montserrat.eot?#iefix') format('embedded-opentype'),
       url('../font/Montserrat-Regular/Montserrat.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
